@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-user-drag: none;
}

body {
  overflow: hidden;
  user-select: none;
  /* position: relative; */
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/test-bg3.png);
  /* transform: translate(-50%, -50%); */
}

.column {
  cursor: pointer;
  height: 45px;
  width: 45px;
  border: 1px solid black;
  margin: 3px 3px;
}

.row {
  margin-right: 3px;
  display: flex;
  user-select: none;
}

.column:hover {
  transform: scale(1.1);
  background-color: #b9b7b7;
}

.column.invalid:hover {
  background-color: red;
}

.column.ship {
  background-color: black;
}

.save-btn {
  margin-top: 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  background-color: #7f5af0;
  color: #fffffe;
}

.ships {
  font-size: 16px;
}

.toast {
  width: 400px;
  min-height: 40px;
  position: absolute;
  bottom: -60px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translate(-50%, -50%); */
  text-align: center;
  background-color: rgb(85, 79, 79);
  color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  transition: transform 0.3s ease-in-out;
  z-index: 5;
}

.toast.show {
  transform: translateY(-60px);
}

.toast p {
  margin: 0;
}

.current-player {
  /* width: 200px; */
  background-color: #fffffe;
  height: 200px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  /* margin-top: 30px; */
}

.current-player span {
  font-size: 50px;
  margin-right: 40px;
}

.board-container {
  display: flex;
  flex-direction: column;
}

.game-controls-container {
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffffe;
  padding: 20px 20px;
  border-radius: 5px;
}

.controls {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  background-color: #72757e;
  color: white;
  border-radius: 5px;
  align-items: center;
}

.avatar-container.page2 {
}

/* -------------Welcome page style-------------  */

.welcome-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.card-container {
  /* height: 755px;   */
  height: 600px;
  width: 800px;
  background: linear-gradient(
    144.33deg,
    rgba(90, 157, 179, 0.5) 2.07%,
    rgba(223, 36, 42, 0.5) 90.04%
  );
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* box-shadow: 5px 5px rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-radius: 5px; */
  z-index: 5;
}

.card-header h1 {
  margin-top: 110px;
  color: white;
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-content input {
  width: 90%;
  /* height: 2%; */
  padding: 5px 5px;

  border-radius: 5px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #6a9a99;
  color: white;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 20px;
}

input::placeholder {
  color: white;
}

.card-content input:focus {
  outline: none;
  border: 1px solid white;
}

.card-content input:focus::placeholder {
  color: transparent;
}

.card-container button {
  cursor: pointer;
  width: 80%;
  height: 10%;
  border-radius: 5px;
  font-size: 30px;
  /* padding: 5px; */
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: bold;
  background-color: #328caa;
  color: white;
  opacity: 0.9;
  margin-top: 50px;
}

.card-container button:hover {
  transform: scale(1.02);
}

.img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background-image: url(assets/paper-boats-on-solid-surface-194094.jpg); */
}

.img-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.img-container img {
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.player1,
.player2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.avatar-container {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  object-fit: contain;
  border: 1px solid white;
  margin: 0 10px;
}

.avatar-container img {
  width: 100%;
  height: 100%;
}

.avatar-container {
  /* animation: shake 0.5s; */
  animation-iteration-count: infinite;
}

.hat,
.body-head,
.eyes,
.mouth,
.shirt {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.mouth {
  z-index: 4;
}

.eyes {
  z-index: 3;
}

.hat {
  z-index: 4;
}

.body-head {
  z-index: 2;
}

/* Buttons for changing avatars */
.avatar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  border-radius: 50%;
  /* background-color: white; */
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
  color: white;
  transition: transform 0.1s ease-in;
}

.avatar-btn:hover {
  color: black;
}

.slide-right:hover {
  transform: translateX(2px);
}

.slide-left:hover {
  transform: translateX(-2px);
}
.Hat-up-btn {
  top: 90px;
  right: 0px;
}

.Hat-down-btn {
  top: 90px;
  left: 0px;
}

.Eyes-up-btn {
  top: 130px;
  right: 0px;
}

.Eyes-down-btn {
  top: 130px;
  left: 0px;
}

.Mouth-up-btn {
  top: 170px;
  right: 0px;
}

.Mouth-down-btn {
  top: 170px;
  left: 0px;
}

.Shirt-up-btn {
  top: 210px;
  right: 0px;
}

.Shirt-down-btn {
  top: 210px;
  left: 0px;
}
@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px);
  }
  10% {
    transform: translate(-0.5px, -1px);
  }
  20% {
    transform: translate(-1.5px, 0px);
  }
  30% {
    transform: translate(1.5px, 1px);
  }
  40% {
    transform: translate(0.5px, -0.5px);
  }
  50% {
    transform: translate(-0.5px, 1px);
  }
  60% {
    transform: translate(-1.5px, 0.5px);
  }
  70% {
    transform: translate(1.5px, 0.5px);
  }
  80% {
    transform: translate(-0.5px, -0.5px);
  }
  90% {
    transform: translate(0.5px, 1px);
  }
  100% {
    transform: translate(0.5px, -1px);
  }
}

.toast.page1 {
  bottom: -65px;
  padding: 7px 2px;
}

@media (max-width: 700px) {
  .card-content {
    flex-direction: column;
  }
}

/* GAME PAGE STYLES */

.p3-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
