* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.column {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin: 3px 3px;
}

.row {
  margin-right: 3px;
  display: flex;
  user-select: none;
}

.column:hover {
  transform: scale(1.1);
  background-color: #f3f3f3;
}
